<div class="pool-list-container"
    (dragover)="onDragOver($event)"
     (drop)="onDrop($event)">
  <div class='list-header'>
    <h3>🟢 Verfügbare Mitarbeiter (Wartebank)</h3>
    <button class="btn-add-users" (click)="openDepartmentModal()">➕</button>
  </div>
  @for (user of allUsers(); track user.id) {
    <app-member-card-component
      [user]="user"
      actionType="add"
      (actionClicked)="onAdd(user.id)"
    >
    </app-member-card-component>
  } @empty {
    <p class="empty-hint">Keine weiteren Mitarbeiter im globalen Pool verfügbar.</p>
  }
</div>

@if (isModalOpen()) {
   <app-departmet-select-modal
    (selected)="onDepartmentsSeleted($event)"
   >
   </app-departmet-select-modal>
}
