<div class="todo-list-container">

  <div class="controls-wrapper">
    <app-filter 
      [currentFilter]="currentFilter" 
      [availableFilters]="availableFilters"
      (filterChanged)="onFilterChange($event)">
    </app-filter>

<app-statistic [todos]="todosForStats()"></app-statistic>
  </div>

  <h3>Deine Aufgaben ({{ uiTodos().length }})</h3>

  @if (uiTodos().length === 0) {
    @let msg = emptyFilterMessage();
    <div class="empty-filter-state">
      <div class="empty-icon">{{ msg?.icon }}</div>
      <h3>{{ msg?.title }}</h3>
      <p>{{ msg?.text }}</p>
    </div>
  } @else {
    <div class="todo-grid-layout">
      @for (item of uiTodos(); track item.id) {
        <div @filterAnimation class="grid-item-wrapper">
          <app-todo-item 
            [item]="item" 
            [isDescriptionOpen]="item.isDescriptionOpen"
            [ngClass]="'status-' + item.visualStatus" 
            (toggleDescription)="toggleDescription(item.id)"
            (toggleComplete)="onToggleComplete(item.id)" 
            (delete)="onDeleteTodo(item.id)">
          </app-todo-item>
        </div>
      }
    </div>
  }
  <app-todo-footer [currentTodos]="todosForStats()"></app-todo-footer>
</div>

