<div class="mini-user-card">
  
  <div class="mini-avatar" [style.background-color]="user().getColorHash()">
    {{ user().getInitials() }}
  </div>
  
  <div class="mini-user-info">
    <h5>{{ user().fullName }}</h5>

    @if (role() && role() !== 'NONE') {
      <span class="card-role-badge" (click)="onBadgeClicked()">
        🛠️ {{ role() }}
      </span>
    }
  </div>

  <div class="mini-card-action">
    @if (actionType() === 'add') {
      <button type="button" (click)="onButtonClick()" class="btn-mini-add" title="Hinzufügen">➕</button>
    } @else {
      <button type="button" (click)="onButtonClick()" class="btn-mini-remove" title="Entfernen">❌</button>
    }
  </div>
</div>